source ~/.vimrc

Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "40"
let g:highlightedyank_highlight_color = "rgba(255, 107, 0, 255)"

set which-key
set notimeout

map <leader>ml <Action>(EditorToggleColumnMode)
map <C-j> <Action>(EditorDownWithSelection)
map <C-k> <Action>(EditorUpWithSelection)

map <leader>pf <Action>(GotoFile)

map <leader>rn <Action>(RenameElement)

map <leader>nv <Action>(IntroduceVariable)
map <leader>nc <Action>(IntroduceConstant)
map <leader>nm <Action>(ExtractMethod)

map [d <Action>(GotoNextError)
map ]d <Action>(GotoPreviousError)

map <C-h> <Action>(Tree-selectParent)
map <C-l> <Action>(Tree-selectChild)
map <C-k> <Action>(Tree-selectPrevious)
map <C-j> <Action>(Tree-selectNext)

if has('ide')
    if &ide =~? 'pycharm'
        set scrolloff=0
    endif
endif
